name: bdsim

on:
  push:
    branches:
      - main
      - "releases/**"
  pull_request:
  release:

jobs:
  # This workflow contains a single job called "build"
  bdsim_develop_alma9_g4_11_2:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    container:
      image: sboogert/alma9-g4.11.2

    steps:
      - name: Check for dockerenv file
        run: |
          (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
          git clone git@bitbucket.org:jairhul/bdsim.git
          cd bdsim
          git checkout develop
          mkdir ../bdsim-build
          cd ../bdsim-build
          cmake ../bdsim
          make 
          
